.header {
  background-color: var(--background-navy-dark);
  height: 64px;
  width: 100%;
  /* padding: 8px 0 8px 0px; */
  position: fixed;
  z-index: 6;
}
.header-wrapper {
  width: 1440px;
  height: 100%;
  margin: auto;
}

.header-wrapper-inner {
  /* background-color: blueviolet; */
  width: 1280px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper-inner-nav {
  /* background-color: darkkhaki; */
  width: 640px;
}

.header-wrapper-inner-nav-list {
  /* background-color: coral; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-wrapper-inner-nav-list-item {
  /* background-color: rgb(132, 255, 0); */
  display: flex;
  align-items: center;
}

.header-wrapper-inner-nav-list-item-container {
  /* background-color: #202b51; */
  /* height: 26px; */
  padding: 2px 12px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.2s ease-in;
}

.header-wrapper-inner-nav-list-item-container:active {
  background-color: #202b51;
}
.header-wrapper-inner-nav-list-item-container:active .header-wrapper-inner-nav-list-item-container-arrow {
  animation-name: rotate-header-arrow;
  animation-duration: 0.4s;
  transform: rotate(-90deg) scaleX(0.6);
}

@keyframes rotate-header-arrow {
  from {
    transform: rotate(90deg) scaleX(0.6);
  }
  to {
    transform: rotate(-90deg) scaleX(0.6);
  }
}
.header-wrapper-inner-logo-link img {
  position: relative;
  top: 4px;
  height: 48px;
}

.header-wrapper-inner-nav-list-item-container-link {
  color: var(--essilor-white);
  font-weight: 700;
  letter-spacing: -0.034em;
}

.header-wrapper-inner-nav-list-item-container-arrow {
  position: relative;
  top: 2px;
  color: var(--essilor-white);
  font-family: nunito, Arial, Helvetica, sans-serif;
  font-size: 30px;
  transform: rotate(90deg) scaleX(0.6);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.header-wrapper-inner-right {
  /* background-color: darkolivegreen; */
  width: 290px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper-inner-right-link-button {
  height: 40px;
  padding: 0 24px;
  background-color: var(--blue-marine);
  color: var(--essilor-white);
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header-wrapper-inner-right-link-button:hover {
  background-color: var(--blue-znajdz-optyka-hover);
}

.header-wrapper-inner-right-link-button:active {
  background-color: var(--blue-znajdz-optyka-active);
}

.header-wrapper-inner-right-link-button-span-gps {
  position: relative;
  top: 2px;
  left: 3px;
}

.header-wrapper-inner-right-icons {
  /* background-color: aquamarine; */
  width: 72px;
  display: flex;
  justify-content: space-between;
}

.header-wrapper-inner-right-icons-link {
  /* background-color: pink; */
  display: flex;
  align-items: center;
}/*# sourceMappingURL=header.css.map */